[parameters]
    host = localhost
    socketPath = '/tmp/mysql.sock'
    db_user = filmaffinity
    db_password = filmaffinity
    db_name = filmaffinity
    proxy = 'http://127.0.0.1:8123'
    filmaffinity_host = 'https://www.filmaffinity.com'
    filmaffinity_mobile_host = 'https://m.filmaffinity.com'
    img_dir = 'img/'
    maximum_num_errors_loading_film = 5
    rabbitmq_dsn = 'amqp://guest:guest@localhost:5672'
    queue_name = filmaffin_api_events
    notifications_project_id = ''
    notifications_service_account = ''
    proxy_api_key = your-own
